{% extends 'layouts/app.html.twig' %}

{% block title %}Type{% endblock %}

{% block content %}
    <h1>Afficher le type</h1>
    <div class="block">

        {% set show = true %}
        {{ include('type/_form.html.twig', {'button_label': 'Modifier'}) }}
    </div>
{% endblock %}
