{% extends 'layouts/app.html.twig' %}

{% block title %}Modifier le locataire{% endblock %}

{% block content %}
    <h1>Modifier le locataire</h1>

    <div class="block">
        {% set show = false %}
        {{ include('tenant/_form.html.twig', {'button_label': 'Enregistrer'}) }}
    </div>

{% endblock %}
