{% extends 'layouts/app.html.twig' %}

{% block title %}Afficher le locataire{% endblock %}

{% block content %}
    <h1>Afficher le locataire</h1>
    <div class="block">

        {% set show = true %}
        {{ include('tenant/_form.html.twig', {'button_label': 'Modifier'}) }}
    </div>
{% endblock %}
