{% extends 'layouts/app.html.twig' %}

{% block title %}Modifier la location{% endblock %}

{% block content %}
    <h1>Modifier la location</h1>
    <div class="block">

        {% set show = false %}
        {{ include('lease/_form.html.twig', {'button_label': 'Enregistrer'}) }}
    </div>
{% endblock %}
