{% extends 'layouts/app.html.twig' %}

{% block title %}Afficher la location{% endblock %}

{% block content %}
    <h1>Afficher la location</h1>
    <div class="block">

        {% set show = true %}
        {{ include('lease/_form.html.twig', {'button_label': 'Modifier'}) }}
    </div>
{% endblock %}
