{% extends 'layouts/app.html.twig' %}

{% block title %}Modifier l'adresse{% endblock %}

{% block content %}
    <h1>Modifier l'adresse</h1>
    <div class="block">

        {% set show = false %}
        {{ include('address/_form.html.twig', {'button_label': 'Enregistrer'}) }}
    </div>
{% endblock %}
