{% extends 'layouts/app.html.twig' %}

{% block title %}Afficher l'adresse{% endblock %}

{% block content %}
    <h1>Afficher l'adresse</h1>
    <div class="block">

        {% set show = true %}
        {{ include('address/_form.html.twig', {'button_label': 'Modifier'}) }}
    </div>
{% endblock %}
